doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/custom.css')
    script(src='/myjs.js')
  body
    div This is parrt of layout. normally menu will appear here
    br 
    a(href="/") Home 
    a(href="/about") About 
    hr
    block content
    hr
    div This is Footer Info Mao be and part of layout